*.log
*.pot
*.pyc
local_settings.py
travelx-virtualenv/*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
.*
!.gitignore
!.gitmodules
*~
build/*
database/*
core/static/style.css
