Django==1.4.1
Fabric==1.4.3
boto==2.6.0
django-storages==1.1.5
django-tastypie==0.9.11
elementtree==1.2.7-20070827-preview
mimeparse==0.1.3
pycrypto==2.6
python-dateutil==1.5
requests==0.14.1
slumber==0.4.2
ssh==1.7.14
wsgiref==0.1.2
