//First page
@front-page-border-color:#7ab5e4;
@front-page-block-color: #98caf1;
@front-page-border-thickness: 6px;

.general-design{
	

	box-shadow: #7E7E7E 0px 6px 6px 0px;
	background-color:red;
	padding-top:10px;
	.border-radius(10px);
	width: 380px;
	padding:20px;
}

//First page
#first-page{
	
	.search-block{
	}
	
	.search-block-inner-checkbox{
		background-color:@front-page-block-color;
		xmargin:8px;
		margin-bottom:0px;
		padding:5px;
		width:265px;
		border:@front-page-border-thickness solid @front-page-border-color;
		border-bottom: 0px solid @front-page-border-color;
		display:inline-block;
		margin-right:0px;
	}
	
	.search-block-inner-checkbox-right{
		border-bottom: @front-page-border-thickness solid @front-page-border-color;
		margin-bottom:0px;
		margin-top:8px;
		margin-left:-8px;
		width:285px;
		height:40px;
		display:inline-block;
		margin-bottom:-30px;
	}
	
	.search-block-inner{
		background-color:@front-page-block-color;
		xmargin:8px;
		margin-top:0px;
		padding:10px;
		border:@front-page-border-thickness solid @front-page-border-color;
		border-top:0px solid @front-page-border-color;
	}

	.checkbox{
		margin-bottom:15px;
		font-size: 14px;
		padding-left:0px;
			
	}
	
	.search-boxes-destination{
		display:block;
		margin-bottom:20px;
		.search-inputs{
			.departure-options{
			}
			.arrival-options{
				margin-left:15px;
				
			}
		}
		
		.date-picker-inputs{
			.arrival-options{
				margin-left:10px;
			}
			
		}
		
		.arrival-options, .departure-options{
			display:inline-block;
			padding-right:0px;
			
			label{
				font-size:12px;
				margin-bottom:-1px;
				font-weight: bold;
			}
			input{
				width:246px;
				height:30px;
				font-size:15px;
			}
		}
			
		#datepicker-arrival{
		}
		#datepicker-departure{
			margin-left:10px;
		}
	}
	

	
	.search-boxes-additional-info{
		width:500px;
		padding-top:10px;
		display:block;
		select{
			margin-bottom:15px;
			width:80px;
			font-size:11px;
			padding-top:10px;
			margin-right:9px;
		}
		.btn{
			padding-top:10px;
			font-weight: 200;
			display:inline-block;
			float:right;
		}
		
	}
	
	label{
		font-size: 14px;
	}
	
	/*
input{
			padding:20px 10px 20px 10px;
			font-size:18px;
			width:201px;
		}
*/

	.btn{
		display:block;
		background-image: -webkit-linear-gradient(top, #e75640, #e75640);
		background-color:#e75640;
	}
	
	.checkbox{
			input{
				width:0px;
			}
	}
	
	.front-page-about-us{
		h3{
			font-size:16px;	
			margin-bottom:5px;
			color:#D5C08B;
		}
		
		
		width:245px;
		padding:10px;
		margin-top:10px;
		xbackground-color:green;
		.border-radius(5px);
	}
	
	.wrong-input{
		border-color:red;
		    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
		    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
		    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
	}
	
	input{
		padding-right:0px;
	}
	
	#the-prince{
		img{
			margin-left:50px;
		}
		
	}
	
}

#loading-page{
	height:350px;
	h1{
		text-align:center;
	}
	p{
		max-width: 300px;
		text-align:center;
		font-size:14px;
		margin-left:320px;
		margin-bottom:50px;
		
	}
	.progress{
		margin-left:220px;
	}
}

#first-page .checkbox input {
    width: 20px;
}

.quickselect_results{
	margin-top:-33px;
}

.ui-datepicker{
	//width:167px;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 10px;
}