{% extends "base.html" %}
{% block content %}
<style>
  .datepicker {
  display:inline-block;
  }
</style>
<!-- Underscore.js Templates -->

<script type="text/template" id="tpl-search-area">

  <button class="btn btn-large btn-primary" id="search-trip" type="button">Sök</button>
  <div class="datepicker" id="datepicker-arrival"></div>
  <div class="datepicker" id="datepicker-departure"></div>

</script>

<script type="text/template" id="tpl-trip">
  <h2>Trip</h2>
  </script>

<div class="row">
  <div class="span4">
    <h1>Hi!</h1>
    
  </div>
  <div class="span8"><h1>ASD</h1></div>
</div>
<div class="row">
  <div class="span12" id="content">
  </div>
</div>
{% endblock %}
