{% extends "base.html" %}
{% load url from future %}
{% block content %}
<style>
  .datepicker {
  display:inline-block;
  }
</style>
<!-- Underscore.js Templates -->
<script>
AIRPORTS_API_URL = "{% url 'api_dispatch_list' api_name="general" resource_name="airports" %}";
</script>

<script type="text/template" id="tpl-waiting-search">
  
 	<div class="general-design" id="loading-page">
 	
 		<h1>Sökning pågår!</h1>
 		
 		<p>Vi söker just nu igenom nätets olika resebyråer för att hitta just rätt resa för dig. Sökningen tar ungefär 20sekunder.</p>
 		
 		<div class="progress progress-striped active" style="width:500px;">
	 			<div class="bar" id="current-progress-bar" style="width: 5%;"></div>
  		</div>
 	
 	</div>
</script>


<script type="text/template" id="tpl-overlay">
	
	<div class="modal fade in" id="overlay-modal">hej</div>
	
</script>

<script type="text/template" id="tpl-search-area">
	<div id="first-page" class="general-design" >
		
		<div class="span">
			<h1>Sök efter de bästa flygbiljetterna bland nätets resebyråer</h1>
			<div class="search-boxes-destination">
				  
				 <div class="pull-left departure-options">
						<label>Avreseort:</label>
						<input id="from" type="text" >
		
						<label>Avresedatum:</label>

					  	<div class="datepicker" id="datepicker-departure-date" >
						</div>
				</div>
				  
				<div class="pull-right arrival-options">
				  	 <label>Destination:</label>
				  	 <input id="to" type="text" >
				  	 <label id="label-to-return-date">Hemresedatum:</label>
				  	 <div class="datepicker" id="datepicker-return-date" style="display: block">

				     </div>
				</div>
				  
			</div>
			
		</div>
	
		 

		<!--
	  <div class="datepicker" id="datepicker-departure-date" >
			    <input type="text">
			  </div>
			 
			  <div class="datepicker" id="datepicker-return-date">
			    <input type="text">
			  </div>
			  -->
			  
	
		 
		 <div class="span"><div class="search-boxes-additional-info">	
		 
			<label class="checkbox">
			  <input type="checkbox" id="trip-type" value=""> Enkelresa
			</label>
		 
			<select id="number-adults">
			  <option value="0">0 Vuxen</option>
			  <option selected="selected" value="1">1 Vuxen</option>
			  <option value="2">2 Vuxna</option>
			  <option value="3">3 Vuxna</option>
			  <option value="4">4 Vuxna</option>
			  <option value="5">5 Vuxna</option>
			  <option value="6">6 Vuxna</option>
			  <option value="7">7 Vuxna</option>
			  <option value="8">8 Vuxna</option>
			  <option value="9">9 Vuxna</option>
			</select>
			<br>
			
			<select id="number-children">
			  <option value="0">0 Barn</option>
			  <option value="1">1 Barn</option>
			  <option value="2">2 Barn</option>
			  <option value="3">3 Barn</option>
			  <option value="4">4 Barn</option>
			  <option value="5">5 Barn</option>
			  <option value="6">6 Barn</option>
			  <option value="7">7 Barn</option>
			  <option value="8">8 Barn</option>
			  <option value="9">9 Barn</option>
			</select>		
		 
		 <button class="btn btn-large btn-primary" id="search-trip" type="button"><i class="icon-white icon-search"></i> Sök Flygbiljetter</button>
		 
		 </div>
	</div>   

</div>
</script>


<script type="text/template" id="tpl-trips">

	<ul id="search-results">
		
		
	</ul>

</script>


<script type="text/template" id="tpl-trip">
  <div>
    <div class="top">
      <div class="arrival-time">
      <span class="label-utresa">
	<img src="{{ STATIC_URL }}images/utresa.png"/>Utresa
      </span>
      <div>
	  <img style="height:40px;width:40px;" src="{{ STATIC_URL }}images/airlines/sas.png" />
	  <span><%= outbound_departure_time %> <%= outbound['departure-where-name'] %> - <%= outbound_arrival_time %> <%= outbound['arrival-where-name'] %>
	    <span class="arrival-time-travel">Restid: 
	      <span class="time">
		<% if(outboundTripTime.hours) { %>
		<%= outboundTripTime.hours %>h <%= outboundTripTime.minutes %>min
		<% } else { %>
		<%= outboundTripTime.minutes %>min
		<% } %>
	      </span> 
	      <span style="color:green;display:inline;">
		<% if(inbound['stops'] == "0") { %>
		(Direktflyg)
		<% } else if(inbound['stops'] == "1") { %>
		(1 byte)
		<% } else { %>
		(<%= inbound['stops'] %> Byten)
		<% } %>
	      </span>
	      <span style="display:inline;margin-left:10px;text-decoration:underline;font-size:10px;">
		<a href="#">Flight info</a>
	      </span>
	    </span>
	  </span>
	</div>
      </div>
      <div class="departure-time">
      <span class="label-hemresa"><img src="{{ STATIC_URL }}images/hemresa.png"/>Hemresa</span>
      <div>
	<img  style="height:40px;width:40px;" src="{{ STATIC_URL }}images/airlines/klm.png" />
	<span><%= inbound_departure_time %> <%= inbound['departure-where-name'] %> - <%= inbound_arrival_time %> <%= inbound['arrival-where-name'] %>
	  <span class="departure-time-travel">Restid: 
	    <span class="time">
	      <% if(inboundTripTime.hours) { %>
	      <%= inboundTripTime.hours %>h <%= inboundTripTime.minutes %>min
	      <% } else { %>
	      <%= inboundTripTime.minutes %>min
	      <% } %>      
	    </span> 
	    <% if(inbound['stops'] == "0") { %>
	    (Direktflyg)
	    <% } else if(inbound['stops'] == "1") { %>
	    (1 byte)
	    <% } else { %>
	    (<%= inbound['stops'] %> Byten)
	    <% } %>
	    <span style="display:inline;margin-left:10px;text-decoration:underline;font-size:10px;">
	      <a href="#">Flight info</a>
	    </span>
	  </span>
	</span>
      </div>
      </div>

      <div class="lowest-price">
      	<span><%= total_price %> kr</span>
      	
      	<a href="<%= deeplink %>" class="btn btn-large btn-warning" target="_blank" >Gå till resa</a>
   
	</div>
    </div>
    <div class="bottom">
      <% _.each(prices, function(agency) { %>
      <div class="agency">
	<img src="{{ STATIC_URL }}images/travel-agencies/<%= agency.travel_agency %>.gif"/>
	<div><span><%= agency.price %> kr</span></div>
      </div>
      <% }); %>
    </div>
    <div class="modal-container"></div>
  </div>
</script>




<div class="row">
  <div class="span12 top-menu">
	  <a href="/"><img src="{{ STATIC_URL }}images/logo2.png" /> </a>
  </div>
</div>
<div class="row">
  <div class="span12" id="content">
  </div>
</div>

{% endblock %}
